.world-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-family: monospace;
}
  
  h2{
    margin-bottom: 0;
  }
  
.world-count-wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    box-shadow: 0px 1px 3px rgb(141, 139, 139);
    padding: 20px;
    margin: 1.5em;
}


.chart-and-other-stats{
  display: flex;
  margin: 2em;
}

.other-stats{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 7px;
  box-shadow: 0px 2px 7px rgb(141, 139, 139);
  margin-right: 3em;
  padding: 20px;
}

.chart-buttons{
  display: flex;
  flex-direction: column;
}

.buttons{
  display: flex;
  justify-content: center;
}



.button-item{
  padding: 10px;
  margin: 5px;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0px 2px 7px rgb(141, 139, 139);
  outline: none;
  cursor: pointer;
}

.button-item:active {
 transform: translateY(2px);
}

canvas{
padding: 10px;
border-radius: 7px;
box-shadow: 0px 2px 7px rgb(141, 139, 139);
}

.loading{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 80vh;
  width: 80vh;
}