.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    padding: 20px;
    box-shadow: 0px 2px 7px rgb(141, 139, 139);
}
